<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="LocalConfig" type="Baisse.BaseDataService.DummyConfigHandler,Baisse.BaseDataService"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="Baisse.BaseDataService" value="127.0.0.1:6089"/>
	</appSettings>

	<LocalConfig>
		<!--端口-->
		<ServiceSettings ServiceName="AppointBookingService" RpcServerPort="7020" Listen="10"/>
		<!--日志-->
		<IICTracing Level="Info">
			<Appender>
				<Item Type="Text" Enabled="true" Path="D:\Log" />
				<Item Type="Console" Enabled="true" />
				<Item Type="Database" Enabled="false" Path="server=Localhost;database=TRACEDB;uid=dbreader;pwd=Password01!"/>
			</Appender>
		</IICTracing>
		<!--服务调用-->
		<ServiceConfigInfo>
			<ServiceConfigs>
				<Item Name="PatientService" Ip="tcp://127.0.0.1:6010" ></Item>
				<Item Name="ArrangeService" Ip="tcp://127.0.0.1:7010" ></Item>
				<Item Name="ExpenseService" Ip="tcp://127.0.0.1:6040" ></Item>
				<Item Name="RegistService" Ip="tcp://127.0.0.1:6030" ></Item>
				<Item Name="BaseDataService" Ip="tcp://127.0.0.1:7400" ZkPath="/RPC/Common/Trasen.BaseDataService/V1.0"></Item>
			</ServiceConfigs>
		</ServiceConfigInfo>
		<!--数据库-->
		<Database>
			<Item Name="kf_trasen" DbType="SqlServer2005" ConnectionString="Data Source=127.0.0.1;Initial Catalog=TSHIS_BUSINESS;Persist Security Info=True;User ID=kf_v30;Password=1"/>
		</Database>
	</LocalConfig>

</configuration>