
Service/Baisse.Study/bin/Debug/netcoreapp3.1/log/2022-09-07.log
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
*.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.FileListAbsolute.txt
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
*.cache
*.cache
*.txt
Service/Baisse.Study/obj/project.nuget.cache
Service/Baisse.Study/obj/project.assets.json
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.pdb
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.dll
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csprojAssemblyReference.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.FileListAbsolute.txt
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.assets.cache
Service/Baisse.Study/obj/Baisse.Study.csproj.nuget.dgspec.json
Service/Baisse.Study/obj/project.nuget.cache
*.cache
Service/Baisse.Study/obj/project.assets.json
*.dll
*.pdb
*.dll
*.pdb
*.log
*.log
Service/Baisse.Study/bin/Debug/netcoreapp3.1/log/2022-09-09.log
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/appsettings.json
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CodeGenerator.deps.json
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/Baisse.FilenamesjCommon.csproj
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/IFilenamesjService.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/Input/IFileType.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/Input/Istudy.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/Output/OFileType.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/Output/Ostudy.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcClient/BufferManager.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcClient/Client.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcClient/MySocketEventArgs.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcClient/Request.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RPCModel/ApiPageInfo.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RPCModel/RequestContent.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RPCModel/ResponseContent.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RPCModel/RpcServerContext.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcServer/AsyncUserToken.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcServer/BufferManager.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcServer/Lister.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcServer/Server.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommon/RPC/RpcServer/SocketEventPool.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/Baisse.FilenamesjCommonCommon.csproj
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/Input/IFileType.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/Input/Istudy.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/IStudyService.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/Output/OFileType.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/Output/Ostudy.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcClient/BufferManager.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcClient/Client.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcClient/MySocketEventArgs.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcClient/Request.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RPCModel/ApiPageInfo.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RPCModel/RequestContent.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RPCModel/ResponseContent.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RPCModel/RpcServerContext.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcServer/AsyncUserToken.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcServer/BufferManager.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcServer/Lister.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcServer/Server.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/server-common/Baisse.FilenamesjCommonCommon/RPC/RpcServer/SocketEventPool.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/appsettings.json
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/Baisse.Filenamesj.csproj
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/Baisse.Filenamesj.csproj.user
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/BLL/FilenamesjInfoBLL.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/Common/LogHelp.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/ConfigModel/AppSettings.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/ConfigModel/ServiceConfig.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/DLL/FilenamesjInfoDLL.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/FilenamesjService.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/FilenamesjServiceImpl.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/log4net.config
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/Program.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.Filenamesj/RPCService/Lister.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/appsettings.json
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/Baisse.FilenamesjCommon.csproj
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/Baisse.FilenamesjCommon.csproj.user
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/BLL/StudyInfoBLL.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/Common/LogHelp.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/ConfigModel/AppSettings.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/ConfigModel/ServiceConfig.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/DLL/StudyInfoDLL.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/log4net.config
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/Program.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/RPCService/Lister.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/StudyService.cs
Tools/CodeGenerator/bin/Debug/netcoreapp3.1/CopyModel/Server/Baisse.FilenamesjCommon/StudyServiceImpl.cs
BaisseML.ConsoleApp/obj/BaisseML.ConsoleApp.csproj.nuget.dgspec.json
BaisseML.ConsoleApp/obj/BaisseML.ConsoleApp.csproj.nuget.g.props
BaisseML.ConsoleApp/obj/BaisseML.ConsoleApp.csproj.nuget.g.targets
BaisseML.ConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BaisseML.ConsoleApp/obj/Debug/netcoreapp3.1/BaisseML.ConsoleApp.AssemblyInfo.cs
BaisseML.ConsoleApp/obj/project.assets.json
BaisseML.Model/obj/BaisseML.Model.csproj.nuget.dgspec.json
BaisseML.Model/obj/BaisseML.Model.csproj.nuget.g.props
BaisseML.Model/obj/BaisseML.Model.csproj.nuget.g.targets
BaisseML.Model/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
BaisseML.Model/obj/Debug/netstandard2.0/BaisseML.Model.AssemblyInfo.cs
BaisseML.Model/obj/project.assets.json
