
Service/Baisse.Study/bin/Debug/netcoreapp3.1/log/2022-09-07.log
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
*.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.FileListAbsolute.txt
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
*.cache
*.cache
*.txt
Service/Baisse.Study/obj/project.nuget.cache
Service/Baisse.Study/obj/project.assets.json
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.pdb
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.dll
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csprojAssemblyReference.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.FileListAbsolute.txt
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.csproj.CoreCompileInputs.cache
Service/Baisse.Study/obj/Debug/netcoreapp3.1/Baisse.Study.assets.cache
Service/Baisse.Study/obj/Baisse.Study.csproj.nuget.dgspec.json
Service/Baisse.Study/obj/project.nuget.cache
*.cache
Service/Baisse.Study/obj/project.assets.json
